/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v36/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5a7duw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #364BF2;
  --color-primary-dark: #0028C4;
  --color-on-primary: #FFFFFF;
  --color-secondary: #C0FAFC;
  --color-accent: #77C39F;
  --color-accent-variant: #7978EF;
  --color-logo: #B6B6B6;
  --color-surface: #FFFFFF;
  --color-on-surface: #252526;
  --color-surface-variant: #F3F3F3;
  --color-on-surface-variant: #57575A;
  --color-surface-transparent: rgba(37, 37, 38, .75);
  --color-on-surface-inverse: #FFFFFF;
  --color-border-low: #E4E4E4;
  --color-border: #939598;
  --color-border-high: #252526;
  --color-border-floating: rgba(0, 0, 0, .1);
  --color-on-surface-inverse: #FFF;
  
  
  font-size: 62.5%;
}

@media (color-gamut: p3) {
  :root {
    --color-primary: color(display-p3 0.2132 0.2948 0.9479);
    --color-primary-dark: color(display-p3 0.0471 0.1529 0.7373);
    --color-on-primary: color(display-p3 1 1 1);
    --color-secondary: color(display-p3 0.7529 0.9804 0.9882);
    --color-accent: color(display-p3 0.4667 0.7647 0.6235);
    --color-accent-variant: color(display-p3 0.4745 0.4706 0.9373);
    --color-logo: color(display-p3 0.7145 0.7145 0.7145);
    --color-surface: color(display-p3 1 1 1);
    --color-on-surface: color(display-p3 0.1451 0.1451 0.149);
    --color-surface-variant: color(display-p3 0.9512 0.9512 0.9512);
    --color-on-surface-variant: color(display-p3 0.3426 0.3426 0.3514);
    --color-surface-transparent: color(display-p3 0.1451 0.1451 0.149 / 0.75);
    --color-on-surface-inverse: color(display-p3 1 1 1);
    --color-border-low: color(display-p3 0.895 0.895 0.895);
    --color-border: color(display-p3 0.5765 0.5843 0.5961);
    --color-border-high: color(display-p3 0.1451 0.1451 0.149);
    --color-border-floating: color(display-p3 0 0 0 / 0.10);
    --color-on-surface-inverse: color(display-p3 1 1 1);
  }
}


body {
  font-size: 1.6rem;
  background: var(--color-canvas);
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  font-weight: 400;
  color: var(--color-on-surface);
}

:where(h1, h2, h3, h4, h5, h6) {
  color: var(--color-on-surface);
  line-height: normal;
  margin: 0;
  text-wrap: balance;
}

:where(h1) {
  font-size: 2.4rem;
}

:where(p) {
  line-height: normal;
  margin: 0;
  text-wrap: balance;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  text-shadow: 0 0 1rem #fff, 0 0 1rem #fff, 0 0 1rem #fff;
}

:where(p + p, :where(h1, h2, h3, h4, h5, h6) + p) {
  margin-top: 1em;
}

:where(svg) {
  fill: currentColor;
}

:where(button) {
  cursor: pointer;
  padding: 0;
}

[class*="button-"] {
  border: 0;
  padding: 1.2rem 3.2rem;
  border-radius: 999rem;
  font-size: 1.6rem;
  font-weight: 600;
  display: inline-flex;
  gap: .8rem;
  align-items: center;
  justify-content: center;
  transition: .15s ease-out;
  line-height: 1.5;
  transition-property: border, background-color;
}

[class*="button-"].icon-only {
  padding: 0;
  height: 5.6rem;
  width: 5.6rem;
  padding: 1.6rem;
  --icon-size: 3.2rem;
}

[class*="button-"] svg {
  height: var(--icon-size, 2rem);
  width: var(--icon-size, 2rem);
}

.button-primary:hover {
  background-color: var(--color-primary-dark);
}

.button-primary {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  box-shadow: 0 .4rem 1.3rem 0 rgba(0, 40, 196, .25);
}

.button-secondary {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  border: .1rem solid var(--color-border);
}

.button-secondary:hover {
  border-color: var(--color-border-high);
}

.button-transparent {
  background: transparent;
  color: var(--color-on-surface);
}

.smooth-in {
  animation: smoothIn .5s forwards ease-out;
}

.smooth-in-out {
  animation: smoothInOut 5s forwards ease-out;
}

@keyframes smoothIn {
  from {
    opacity: 0;
    transform: translateY(var(--slide-up, 33%)) scale(.95);
  }
  to {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}

@keyframes smoothInOut {
  0% {
    opacity: 0;
    transform: translateY(var(--slide-up, 33%)) scale(.95);
  }
  10% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
  90% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(0%) scale(.95);
  }
}